DATABASE_URL="postgresql://usuario:senha@host/banco?sslmode=require"
BETTER_AUTH_URL="http://192.168.4.45:4000"
BETTER_AUTH_SECRET="gere-uma-chave-grande-com-openssl-rand-base64-32"
AUTH_SECURE_COOKIES="false"
